<p class="with-image" ng-if="!$ctrl.render || $ctrl.inProgress">
    <i class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
</p>

<p class="error-message" *ng-if="$ctrl.error">
    {{ $ctrl.error }}
</p>

<form ng-if="$ctrl.render"
    class="form"
    name="contactUsForm"
    ng-submit="$ctrl.send(contactUsForm)"
    ng-hide="$ctrl.success"
    novalidate
>

    <div class="row">
        <div class="gr-6 gr-12@mobile form__field">
            <label for="contact-us-first_name">Nombre*</label>
            <input
                ng-model="$ctrl.model.first_name"
                name="first_name"
                id="contact-us-first_name"
                type="text"
                maxlength="60"
                tabindex="1"
                required
            />
        </div>
        <div class="gr-6 gr-12@mobile form__field">
            <label for="contact-us-phone">Teléfono*</label>
            <input
                ng-model="$ctrl.model.phone"
                name="phone"
                id="contact-us-phone"
                type="text"
                maxlength="25"
                tabindex="3"
                required
            />
        </div>
    </div>
    <div class="row">
        <div class="gr-6 gr-12@mobile form__field">
            <label for="contact-us-last_name">Apellido*</label>
            <input
                ng-model="$ctrl.model.last_name"
                name="last_name"
                id="contact-us-last_name"
                type="text"
                maxlength="60"
                tabindex="2"
                required
            />
        </div>
        <div class="gr-6 gr-12@mobile form__field">
            <label for="contact-us-email">Correo electrónico*</label>
            <input
                ng-model="$ctrl.model.email"
                name="email"
                id="contact-us-email"
                type="email"
                maxlength="255"
                tabindex="4"
                required
            />
        </div>
    </div>
    <div class="row">
        <div class="gr-6 gr-12@mobile form__field">
            <label for="contact-us-subject">Tema de consulta*</label>
            <div class="select-wrapper">
                <select
                    ng-model="$ctrl.model.subject"
                    name="subject"
                    id="contact-us-subject"
                    tabindex="5"
                    required
                >
                    <option value="" disabled>-- Tema --</option>
                    <option value="Registro">Registro</option>
                    <option value="Servicios">Servicios</option>
                    <option value="Mercadeo">Mercadeo</option>
                    <option value="Financiero">Financiero</option>
                    <option value="Dirección">Dirección</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="gr-12 form__field">
            <label for="contact-us-message">Mensaje*</label>
            <textarea
                ng-model="$ctrl.model.message"
                name="message"
                id="contact-us-message"
                maxlength="5000"
                minlength="3"
                tabindex="6"
                required
            ></textarea>
        </div>
    </div>
    <div class="row">
        <div class="gr-12 form__field form__submit">
            <button
                type="submit"
                tabindex="7"
            >
                Enviar
            </button>
        </div>
    </div>
</form>

<div class="row form" ng-if="$ctrl.success">
    <div class="gr-2 hide@mobile">
        <img style="max-width: 100%;" ng-src="{{ $ctrl.baseUrl }}img/envelope-icon.png" alt="">
    </div>
    <div class="gr-10 gr-12@mobile">
        <h3>Muchas gracias por contactarnos</h3>
        <p>
            Hemos recibido un correo electrónico con tu mensaje.
            A la mayor brevedad posible, uno de nuestros encargados te estará contactando
            y te ayudará con una respuesta a lo que necesitas.
        </p>
    </div>
</div>
