.admission {
  margin-top: $l-padding;
  margin-bottom: $xxl-padding * 2;

  &__title-row {
    margin-bottom: $xxl-padding;
  }

  &__content-row > [class^="gr-"] {
    margin-bottom: $l-padding;
  }

  &__picture {
    background: none no-repeat center center #dddddd;
    background-size: cover;
    height: auto;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 65%;
    }
  }

  &__view-more {
    color: $primary-color;
    text-transform: uppercase;
  }

  &__academic-offer-title {
    color: $primary-color;
    font-size: 2rem;
    margin-bottom: 0.5em;
  }

  &__academic-offer-content {
    li {
      margin-bottom: $l-padding;
    }

    a {
      display: inline-block;
      height: 2.8rem;

      > i.fa {
        font-size: 2.4rem;
        vertical-align: middle;

        &:before {
          vertical-align: middle;
        }
      }

      > span {
        vertical-align: middle;
      }
    }
  }
}
