.careers {
  .swiper-container {
    margin-top: $l-padding;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 16.667vw;
    min-width: 20rem;
    position: relative;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%;
    }
  }

  &__slider {
    position: relative;
    transform-style: preserve-3d;

    &-button-prev,
    &-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5000;
      font-size: 4rem;
      cursor: pointer;
      color: $primary-color;
      text-shadow: 0 0 6px $primary-text-color;
    }

    &-button-prev {
      left: 1.6rem;
    }

    &-button-next {
      right: 1.6rem;
    }
  }

  &__slide {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none no-repeat center center darken($primary-color, 5%);
    background-size: cover;

    &-title {
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 85%;
      background: $primary-color;
      color: $primary-text-color;
      padding: $m-padding;
      text-transform: uppercase;
    }
  }
}
