.featured {
  margin-top: $l-padding;
  margin-bottom: $xxl-padding * 2;

  &__item {
    position: relative;
    display: inline-block;
    display: inline-table;
    background: $primary-color;
    color: $primary-text-color;
    padding: $m-padding;
    padding-bottom: calc(#{$m-padding} + 1em);
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    @include gridle_state(mobile) {
      margin-bottom: $m-padding;
    }
  }

  &__picture {
    position: relative;
    margin-bottom: $m-padding;
    background: none no-repeat center center darken($primary-color, 5%);
    background-size: cover;

    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 46.15%;
    }
  }

  &__title {
    margin-bottom: 0.35em;
  }

  &__content {
    font-weight: 300;
    font-size: 1.4rem;
  }

  &__permalink {
    position: absolute;
    text-transform: uppercase;
    bottom: $m-padding;
  }
}
