.footer-wrapper {
  margin-top: $xl-padding;
  background: $primary-color;
  color: $primary-text-color;
  line-height: 1.2em;
}

.legal-footer-wrapper {
  $lfw-bg: desaturate(lighten($primary-color, 7%), 25%);

  background: $lfw-bg;
  color: transparentize($primary-text-color, 0.2);
  
  .footer {
    font-weight: 300;
  }
}

.footer {
  font-size: $s-font-size;
  padding: $l-padding 0;

  @include gridle_state(mobile) {
    font-size: $m-font-size;
  }

  // Inner links
  &__inner-links {
    font-size: $m-font-size;
  }

  &__inner-link {
    padding: $s-padding 0;
    font-weight: bold;
  }

  // Social icons
  &__social-icons {
    margin-bottom: 1em;
  }

  &__social-icon {
    background: $primary-text-color;
    color: $primary-color;
    margin-right: 0.35em;

    &:last-child {
      margin-right: initial;
    }
  }
}
