.form {
  margin-top: $m-padding;
  margin-bottom: $xxl-padding;
  
  &__field {
    margin-bottom: $l-padding;
  }

  &__submit {
    text-align: right;

    @include gridle_state(mobile) {
      text-align: center;
    }
  }

  label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 0.35em;
  }
  
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  textarea,
  select {
    width: 100%;
    box-sizing: border-box;
    padding: $m-padding;
    border-radius: 0;
    border: 1px solid #cccccc;
    background: #ffffff;
    color: #000000
  }

  textarea {
    resize: none;
    height: 10em;
  }

  select {
    appearance: none;
    padding-right: $m-padding * 3;
  }

  button {
    appearance: none;
    border: none;
    padding: $m-padding $xxl-padding;
    background: $primary-color;
    color: $primary-text-color;
    font-size: 1.4rem;

    @include gridle_state(mobile) {
      width: 100%;
      font-size: 1.6rem;
    }
  }

  &.ng-submitted {
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number],
    textarea,
    select {
      &.ng-invalid {
        border-color: #c00000;
      }
    }
  }

  .select-wrapper {
    position: relative;

    &:before {
      font-size: 0.8em;
      color: #cccccc;
      display: inline-block;
      content: '\25BC';
      position: absolute;
      right: $m-padding;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      pointer-events: none;
    }
  }
}
