.header {
  background: none no-repeat center center #dddddd;
  background-size: cover;
  height: 61vw;
  min-height: 480px;
  max-height: 100vh;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);

  .container {
    position: relative;
    height: 100%;
  }

  .row {
    position: absolute;
    bottom: 10%;
    width: 100%;
  }

  &__heading {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.35em;

    @include gridle_state(mobile) {
      text-align: center;
      font-size: 2.4rem;
    }
  }

  &__subheading {
    font-size: 3.2rem;
    font-weight: 300;

    @include gridle_state(mobile) {
      text-align: center;
      font-size: 2rem;
    }
  }
}

.front-page-header {
  background-image: url('../../img/front-page-bg.jpg');
}

.nosotros-header {
  background-image: url('../../img/nosotros-bg.jpg');
}

.admision-header {
  background-image: url('../../img/admision-bg.jpg');
}

.carreras-header {
  background-image: url('../../img/carreras-bg.jpg');
}

.noticias-header {
  background-image: url('../../img/noticias-bg.jpg');
}

.contacto-header {
  background-image: url('../../img/contacto-bg.jpg');
}
