body {
  @include gridle_state(mobile) {
    margin-top: $mobile-pane-size;
  }

  &.mobile-pane--menu-opened {
    overflow: hidden;
  }
}

.mobile-pane {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99995;
  width: 100%;
  background: $primary-color;
  color: $primary-text-color;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
  transform-style: preserve-3d;

  @include gridle_state(mobile) {
    display: block;
  }

  // Hamburger menu
  &__menu-toggle {
    display: inline-block;
    font-size: $mobile-pane-size;
  }

  // Logo
  &__logo {
    display: block;
    width: ($mobile-pane-size * 0.8) / 0.37878787;
    height: ($mobile-pane-size * 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: url('../../img/ucc-logo-100-inv.png') no-repeat center center transparent;
    background-size: contain;
  }
}
