// Shared
.nav, .mobile-nav {
  &__items {
    list-style: none;
    margin: 0;
  }

  &__item {
    font-weight: bold;
    text-transform: uppercase;
  }
}

// Desktop navigation
.nav-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99990;
  background: transparentize($primary-color, 0.05);
  color: $primary-text-color;

  @include gridle_state(mobile) {
    display: none;
  }
}

.nav {
  // Logo
  $logo-size: 9.6rem;

  &__logo {
    display: block;
    position: relative;
    width: $logo-size;
  }

  &__logo-image {
    display: block;
    position: absolute;
    top: $xxxl-padding / 2;
    left: 0;
    z-index: 100005;
    width: $logo-size;
    height: $logo-size;
    background: url('../../img/ucc-logo-512.png') no-repeat center center $primary-text-color;
    background-size: contain;
    border: 2px solid $primary-color;
    box-sizing: border-box;
  }

  // List
  &__items {
    padding: $xxxl-padding 0;
    text-align: right;
  }

  &__item {
    display: inline-block;

    &:after {
      content: ' | ';
      font-weight: 300;
      opacity: 0.8;
    }

    &:last-child:after {
      content: '';
    }
  }
}

// Mobile navigation
.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99990;
  width: 65%;
  height: 100%;
  padding: calc(#{$mobile-pane-size} + #{$m-padding}) $m-padding $m-padding;
  background: $primary-color;
  color: $primary-text-color;
  box-sizing: border-box;

  .mobile-pane--menu-opened & {
    display: block;
  }

  &__item a {
    display: block;
    padding: $l-padding 0;
  }
}
