.page {
  margin-top: $xxl-padding;
  margin-bottom: $xxl-padding;

  &__content {
    margin-bottom: $xxl-padding;
    
    h3 {
      font-size: 2.4rem;
      font-weight: 700;
      text-transform: uppercase;
      margin: 1em 0 0.5em;

      &:first-child {
        margin-top: 0;
      }
    }

    h4 {
      font-size: inherit;
      font-weight: 700;
      margin: 1em 0 0.5em;

      &.heading {
        font-size: 1.6rem;
        text-transform: uppercase;
      }
    }

    ul {
      margin-left: 1em;
      
      li {
        list-style-type: square;
      }

      &.plain-list {
        margin-left: 0;

        li {
          list-style-type: none;
        }
      }
    }

    .vm__circle-icon {
      background: #000000;
      color: #ffffff;
    }
  }

  &__section-image {
    text-align: center;
    margin-top: $xxl-padding * 2;
    margin-bottom: $xxl-padding * 4;

    @include gridle_state(mobile) {
      margin-top: $xxl-padding;
      margin-bottom: $xxl-padding * 2;
    }

    > img {
      max-width: 75%;

      @include gridle_state(mobile) {
        max-width: 90%;
      }
    }
  }

  &__nav {
    li {
      margin-top: $l-padding;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__academic-offer {
    margin-top: $xxl-padding;

    h3 {
      font-size: 1.4rem;
      color: $primary-color;
      margin-bottom: 0.5em;
    }

    ul {
      margin-top: $xxl-padding;
    }

    li {
      margin-top: $m-padding;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__grid {
    &-cell {
      display: block;
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      background: none no-repeat center center #dddddd;
      background-size: cover;

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: 100%;
      }

      overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparentize($primary-color, 0.25);
        z-index: 5;
      }

      > span {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
        text-transform: uppercase;
        font-weight: 700;
        color: $primary-text-color;
        box-sizing: border-box;
        padding: $m-padding;
        line-height: 1.1em;
        font-size: 1.4rem;

        @include gridle_state(mobile) {
          font-size: 1.2rem;
        }
      }

      &:hover {
        overlay {
          display: none;
        }

        > span {
          background: $primary-color;
        }
      }
    }
  }

  &__go-top {
    text-align: right;

    @include gridle_state(mobile) {
      text-align: center;
    }

    > a {
      color: $primary-color;
      text-transform: uppercase;
      font-weight: 700;

      > span, > i {
        vertical-align: middle;
      }
    }
  }
}
