.posts {
  margin-top: $xxl-padding;
  
  &__item {
    padding-bottom: $xl-padding;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: $xl-padding;
  }

  &__navigation {
    margin-bottom: $xxl-padding;
    text-align: right;

    @include gridle_state(mobile) {
      text-align: center;
    }

    .screen-reader-text {
      display: none;
    }

    .page-numbers {
      display: inline-block;
      text-align: center;
      font-size: 1.2rem;
      width: 1.2rem;
      border-radius: 5rem;
      padding: 0.5em;
      background: $primary-color;
      color: $primary-text-color;

      @include gridle_state(mobile) {
        font-size: 1.4rem;
        width: 1.4rem;
      }

      &.current {
        background: none;
        color: inherit;
      }

      &.next, &.prev {
        width: auto;
      }
    }
  }

  .post__content {
    @include gridle_state(mobile) {
      margin-top: $xl-padding;
    }
  }
}
