.post {
  h3 {
    margin-bottom: 0.5em;
  }

  &__thumb {
    position: relative;
    display: block;
    background: none no-repeat left top #cccccc;
    background-size: cover;
    
    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 66.67%;
    }
  }
}
