@font-face {
  font-family: 'Futura Std';
  src: url('../../fonts/Futura Std Medium.eot');
  src: local('☺'), url('../../fonts/Futura Std Medium.woff') format('woff'), url('../../fonts/Futura Std Medium.ttf') format('truetype'), url('../../fonts/Futura Std Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('../../fonts/Futura Std Light.eot');
  src: local('☺'), url('../../fonts/Futura Std Light.woff') format('woff'), url('../../fonts/Futura Std Light.ttf') format('truetype'), url('../../fonts/Futura Std Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std';
  src: url('../../fonts/Futura Std Bold.eot');
  src: local('☺'), url('../../fonts/Futura Std Bold.woff') format('woff'), url('../../fonts/Futura Std Bold.ttf') format('truetype'), url('../../fonts/Futura Std Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
