@import '../../../../../bower_components/gridle/sass/gridle/gridle';

@include gridle_setup( (
  context: 12,
  gutter-width: 16px
) );

@include gridle_register_state( mobile, (
  max-width: 768px
) );

@include gridle_register_state( non-mobile, (
  min-width: 769px
) );

@include gridle_generate_classes();

.container {
  max-width: 1024px;
  margin: 0 auto;

  @include gridle_state(mobile) {
    margin: 0 1.2rem;
  }
}
