// Link with icons
a.with-icons {
  > i, > span {
    vertical-align: middle;
  }
}

// Button
.vm__button {
  display: inline-block;
  padding: $m-padding;
  border-radius: $m-border-radius;
  background: $primary-color;
  color: $primary-text-color;

  @include gridle_state(mobile) {
    display: block;
    padding: $l-padding;
    text-align: center;
  }

  &--hollow {
    background: transparent;
    color: $primary-text-color;
    border: 1px solid $primary-text-color;
  }
}

// Circular icon
.vm__circle-icon {
  $size: 3.2rem;

  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: $size;
  height: $size;
  font-size: $size / 2;
  border-radius: $size;
  transform-style: preserve-3d;

  > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

