@import 'fonts';

@import 'reset';
@import 'grid';
@import 'defaults';
@import 'ui';

@import 'parts/form';

@import 'parts/nav';
@import 'parts/mobile-pane';
@import 'parts/header';
@import 'parts/featured';
@import 'parts/admission';
@import 'parts/footer';

@import 'parts/careers';
@import 'parts/posts';
@import 'parts/post';

@import 'parts/page';

html {
  position: relative;
}

@include gridle_state(mobile) {
  #wpadminbar {
    display: none !important;
  }

  html:not([more-important-than-wordpress]) {
    margin-top: initial !important;
  }
}
